body, p{
    margin: 0; 
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
}


img{
    width: 100%;
    display: block;
}


nav ul, nav li{
    list-style-type: none;
    padding: none;
    margin: none;
}


/* mobile nav bar */

#desktopMainNavigation
{
    display: none;
}


#navigationContentContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000024;
    height: 50px;
    color: white;
}

#mobileHamburger div{
    background-color: white;
    height: 2px;
    width: 30px;
    margin-bottom: 0.3em;
    margin-top: 0.5em;
}

#mobileHamburger
{
    margin-right: 1em;
}

#logoContainer{
    font-size: 2em;
    margin-left: 0.5em;
}





/* mobile nav menu drop down  */
.mobileNavContainer{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    padding-top: 1em;
    background-color: #000024;
    color: white;
    overflow: hidden;

    width: 0;
}

.mobileNavContainer p{
    margin: 0;
    font-size: 1.3em;
    margin-left: 1em;
}

#mobileMainNavigation div ul{
    margin: 0;
    padding: 0;
    width: 70px;
}

#mobileMainNavigation div li{
   font-size: 1.3em;
   margin-top: 1em;

}

#mobileMainNavigation div li:last-child{
    margin-bottom: 1em;
 }

#mobileMainNavigation div{
    display: flex;
    justify-content: center;
}


/* mobil main content  */
#resturantDescriptionContainer{
    background-color: #131542;
    color: white;
    margin: 0;
}
.mainContentHeader{
    text-align: center;
}
.mainContentHeader p, h1{
    padding: 0;
    margin: 0;
}

.mainContentHeader h1{
    padding-top: 1em;
}
.mainContentHeader p{
    padding-bottom: 1em;
}

#mainContentText{
    display: flex;
    word-wrap: normal;
    padding: 1em;
    justify-content: center;
    line-height: 1.5em;
    color: lightgray;
}


/* email sign up  */
#emailSignUpContainer{
    padding: 1em;
    padding-top: 3em;
    background-color: #0a0b27;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emailSignUpContainer h2, #emailSignUpContainer p{
    margin: 0;
    padding: 0;
}

#emailSignUpContainer h2{
    text-align: center;
    font-size: 1.3em;
}


#emailSignUpContainer p{
    text-align: center;
    margin-bottom: 1.5em;
}


#emailSignUpContainer input{
    padding: 0.5em;
    border-radius: 5px;
    border: none;
}


#emailSignUpContainer button{
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    background-color: #ffcf1e;
    color: #081E3F;

}


@media only screen and (min-width: 800px)
{

    #headerContentContainer{
        display: flex;
        background-color: #000026;
        justify-content: center;
    }
    #headerContentContainer img{
        max-width: 1000px;
        height: 530px;
    }

    #navigationContentContainer{
        padding-top: 2em;
    }
    .mobileNavContent
    {
        display: none;
    }

    #desktopMainNavigation
    {

        display: block;
    }

    #desktopMainNavigation ul{
        display: flex
    }

    #desktopMainNavigation li{
        margin-right: 1em;
        font-size: 1.3em;
    }

    #desktopMainNavigation li:hover{
        color: #e43636;
    }






   .mainContentContainer{
       margin-top: 3em;
       display: grid;
       grid-template-columns: repeat(2, 1fr);

   }

   #mainContentText{
       max-width: 500px;
   }

   #insideArcade{
       max-width: 400px;
   }

   .mainContentImageContainer{
       display: flex;
       justify-content: center;
   }

   #resturantDescriptionContainer{
       padding-bottom: 5em;
   }

    .mainContentHeader h1{
        font-size: 2.3em;
    }
    .mainContentHeader p{
        font-size: 1.2em;
    }


    #emailSignUpContainer h2{
        font-size: 1.7em;
    }
    #emailSignUpContainer p{
        font-size: 1.1em;
    }


    #emailSignUpContainer input{
        font-size: 1.2em;
        width: 250px;
        height: 30px;
        margin: none;
    }
    
    #emailSignUpContainer{
        padding-bottom: 5em;
    }

    #emailSignUpContainer button{
        width: 100px;
        height: 47px;
        font-size: 1.1em;
        margin: none;

    }

    



}